/* Custom Classes */
body { overflow-x: hidden; }

.pintro {
  background: rgb(2,0,36);
background: -moz-linear-gradient(155deg, rgba(2,0,36,1) 0%, rgba(47,51,60,1) 0%, rgba(31,33,39,1) 100%);
background: -webkit-linear-gradient(155deg, rgba(2,0,36,1) 0%, rgba(47,51,60,1) 0%, rgba(31,33,39,1) 100%);
background: linear-gradient(155deg, rgba(2,0,36,1) 0%, rgba(47,51,60,1) 0%, rgba(31,33,39,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#1f2127",GradientType=1);
}

.pintro img {
   overflow: hidden;
   width: 25rem !important;
}

.pintro h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 2.2rem;
  font-weight: 800;
  width: 80%;
  line-height: 2.6rem;
}

 h4 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
  line-height: 1.6rem;
}

 h5 {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.8);
}

p{ 
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.8rem;
  margin-bottom: 3rem;
}

.pintro .container {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.project-heading{
  padding-top: 3rem;
}

.client-spacer {
  padding-top: 2rem;
}

.descriptors {
  padding-top: 8rem;
}


.intro {
  padding: 4rem 0rem;
}

.intro h3 {
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 4rem;
  text-transform: uppercase;
}

.concept {
  padding: 4rem;
  background-color: #F9F9F9;
}

.concept h3 {
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 4rem;
  text-transform: uppercase;
}

.concept img {
  width: 90%;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

.wireframes {
  padding: 4rem 0rem;
}

.wireframes h3 {
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 4rem;
  text-transform: uppercase;
}

.wireframes h4 {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 800;
  line-height: 4rem;
  letter-spacing: 0;
  text-transform: capitalize;
}

.wireframes img {
  width: 56%;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

.visuals {
  padding: 4rem;
  background-color: #F9F9F9;
}

.visuals h3 {
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 4rem;
  text-transform: uppercase;
}

.visuals img {
  width: 70%;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

.conclusion {
  padding: 4rem;
}

.conclusion h3 {
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 4rem;
}

.conclusion img {
  width: 70%;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  /* background-color: #fff; */
  border-bottom: 2px;
  border-color: transparent;
}

.tab-element .nav-tabs .nav-link {
  border-radius: 0;
  margin-right: 10px;
  font-size: 13px;
  font-weight: 500;
  color: #222;
  padding: 0px 20px;
  min-width: 118px;
  font-size: 16px;
  margin-bottom: 10px;
}

.no-padding {
  padding: 0;
}

.container-fluid img{
    max-width: 100%;
}